<% provide(:title, "Top") %>
<div class="row">
  
  <div class="col-md-6 text-center">
    <h1 class="h1-logo"><em>TaskApp</em></h1>
    <p>TaskAppは簡易ToDo管理ツールです。</p>
    <p>↓↓初めてご利用↓↓</p>
    <%= link_to "アカウント作成", signup_path, class: "btn btn-lg btn-success" %>
  </div>
  
  <div class="col-md-6 text-center">
    <%= link_to "ログイン", login_path, class: "btn btn-lg btn-primary" %>
  </div>
  
</div>
